
<div class="relative">
<div style={{
    animationDelay: '3000ms',
}} class="h-80 w-80 rounded-full dark:bg-cyan-950 bg-cyan-500 absolute -top-32 -right-24 mix-blend-multiply filter blur-xl animate-bg"></div>
    <div class="h-64 w-64 rounded-full dark:bg-cyan-900 bg-slate-500 absolute top-10 -left-28 mix-blend-multiply filter blur-xl animate-bg delay-1000"></div>
    <div style={{
    animationDelay: '1000ms',
    }} class="h-56 w-56 rounded-full dark:bg-sky-950 bg-teal-500 absolute top-10 right-20 mix-blend-multiply filter blur-xl animate-bg delay-2000"></div>
</div>
