---
import WelcomeImageByTime from "./WelcomeImageByTime";
import { IoLanguageOutline } from "react-icons/io5";
import {ToggleDarkMode} from "./ToggleDarkMode";
import { Button } from "@/components/ui/button"
---

<div class="pt-4">
    <header class="dark:bg-slate-900 bg-slate-100 h-14 rounded flex justify-between">
        <div class="flex h-full gap-4 items-center dark:bg-teal-600 bg-teal-300 rounded">
            <WelcomeImageByTime client:load />
            <span class="w-1 h-full dark:bg-teal-800 bg-teal-500 inline-block rounded animate-navbarBar delay-1000"></span>
        </div>

        <nav class="flex items-center gap-8 px-4 text-lg">
            <p>Projects</p>
            <p>Experience</p>
            <p>About me</p>
            <div class="flex items-center gap-4">
                <Button className="dark:text-teal-400 text-teal-700 text-xl dark:bg-transparent bg-transparent">
                    <IoLanguageOutline />
                </Button>
                <ToggleDarkMode client:load />
            </div>
        </nav>
    </header>
</div>
