---

---

<div class="h-screen absolute top-0 left-0 w-full animate-transitionBg overflow-hidden -z-10">
    <div class="w-full h-1/5 transform -translate-x-full bg-slate-950 animate-barTransition"></div>
    <div class="w-full h-1/5 transform -translate-x-full bg-slate-900 animate-barTransition delay-100"></div>
    <div class="w-full h-1/5 transform -translate-x-full bg-slate-800 animate-barTransition delay-200"></div>
    <div class="w-full h-1/5 transform -translate-x-full bg-slate-900 animate-barTransition delay-100"></div>
    <div class="w-full h-1/5 transform -translate-x-full bg-slate-950 animate-barTransition"></div>
</div>
