---
import { TbBrandNextjs } from "react-icons/tb";
import { SiAstro } from "react-icons/si";
import { FaReact } from "react-icons/fa";
import { AiOutlineJavaScript } from "react-icons/ai";
import { RiTailwindCssFill } from "react-icons/ri";
---


<div class="relative">
    <div class="bg-slate-800 p-3 rounded inline-block text-3xl absolute -translate-x-24 -translate-y-14">
        <TbBrandNextjs  />
    </div>
    <div class="bg-slate-800 p-3 rounded inline-block text-3xl absolute -translate-x-24 -translate-y-14">
        <SiAstro  />
    </div>
    <div class="bg-slate-800 p-3 rounded inline-block text-3xl absolute -translate-x-24 -translate-y-14">
        <FaReact  />
    </div>
    <div class="bg-slate-800 p-3 rounded inline-block text-3xl absolute -translate-x-24 -translate-y-14">
        <AiOutlineJavaScript  />
    </div>
    <div class="bg-slate-800 p-3 rounded inline-block text-3xl absolute -translate-x-24 -translate-y-14">
        <RiTailwindCssFill  />
    </div>
</div>
